.footer-social-media
    .footer-social-media-title Follow
    ul.footer-social-media-list
        li.footer-social-media-item
            a(href="<?= option('visualdialogue.socialicons.facebook') ?>")
                svg.footer-social-media-icon(viewBox="0 0 44 44"): use(xlink:href="#facebook")
        li.footer-social-media-item
            a(href="<?= option('visualdialogue.socialicons.instagram') ?>")
                svg.footer-social-media-icon(viewBox="0 0 44 44"): use(xlink:href="#instagram")
        li.footer-social-media-item
            a(href="<?= option('visualdialogue.socialicons.twitter') ?>")
                svg.footer-social-media-icon(viewBox="0 0 44 44"): use(xlink:href="#twitter")
