.footer-social-media
    .footer-social-media-title Follow
    .footer-social-media-list
        // no li b/c a tag needs to be wrapper so can use susy grid measurements of parent for padding to match negative margins
        //- li.footer-social-media-item
        a.footer-social-media-link(href="<?= option('visualdialogue.socialicons.facebook') ?>" target="_blank")
            svg.footer-social-media-icon(viewBox="0 0 16.36 16.4"): use(xlink:href="#facebook")
        //- li.footer-social-media-item
        a.footer-social-media-link(href="<?= option('visualdialogue.socialicons.instagram') ?>" target="_blank")
            svg.footer-social-media-icon(viewBox="0 0 345.4 345.4"): use(xlink:href="#instagram")
        //- li.footer-social-media-item
        a.footer-social-media-link(href="<?= option('visualdialogue.socialicons.twitter') ?>" target="_blank")
            svg.footer-social-media-icon(viewBox="0 0 18.9 15.33"): use(xlink:href="#twitter")
