// social media
.footer-social-media {
    @include break(sm) {
        flex: 0 0 span(2 of 5);
        margin-left: gutter(of 5);   
    }    
}

.footer-social-media-title {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.footer-social-media-list {
    display: flex;
    // negative margin so icons can have equal padding on all sides
    margin-left: -#{gutter() / 2};
    @include break(sm) {
        margin-left: -#{gutter(of 2) / 4};
    }
}

.footer-social-media-item {
    flex: 0 0 #{gutter() * 3};
    @include break(sm) {
        flex: 0 0 #{gutter(of 2)};
    }
}

.footer-social-media-link {
    display: block;
    &:hover {
        fill: $hover;
    }
    padding: #{gutter() / 2};
    @include break(sm) {
        padding: #{gutter(of 2) / 4};
    }
}

.footer-social-media-icon {
    display: block; // remove whitespace below, from https://stackoverflow.com/questions/24626908/how-to-get-rid-of-extra-space-below-svg-in-div-element
    fill: white;
    $size: 8vw;
    width: $size;
    height: $size;
    @include break(sm) {
        $size: 2vw;
        width: $size;
        height: $size;
    }
}